h1, h2, h3 {
    font-size: 96px;
    background-color: rgb(117, 207, 27);
    padding: 10px 0;
}

body {
    font-size: 48px;
}

p {
    margin: 30px 10px;
}

ul {
    text-align: left;
}

ul ul {
    margin-left: 1em;
}